<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Expense.Planner">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/exploreicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.Expense.Planner.MainActivity" />
        <activity android:name="com.example.Expense.Planner.Profile" />
        <activity android:name="com.example.Expense.Planner.Session">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Expense.Planner.Splash" />
        <activity android:name="com.example.Expense.Planner.Register" />
        <activity android:name="com.example.Expense.Planner.Forgot" />
        <activity android:name="com.example.Expense.Planner.Verify" />
        <activity android:name="com.example.Expense.Planner.Reset" />
        <activity android:name="com.example.Expense.Planner.DetailedReport"></activity>
    </application>

</manifest>